@model IEnumerable<PriceMonitoring.ViewModels.ProductViewModel>
@{
    ViewBag.Title = "Products";
}
<h2>Eldorado products</h2>

<table class="table table-hover">
    @foreach (var item in Model)
    {
        <tr onclick="location.href = '@Url.Action("Details", "Products", new { id = item.Product.Id })'" style="cursor: pointer">
            <td>
                @Html.DisplayFor(modelItem => item.Product.Title)
            </td>
            <td>
                <img src="@item.Images.FirstOrDefault()" height="150">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
        </tr>
    }

</table>
